.broadcaststart {
  position: absolute;
  background: #fff;
  text-align: center;
  width: 280px;
  height: 48px;
  border-radius: 5px;
  top: 130px;
  left: 830px;
  border: 2px solid #78B75C;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);

  p {
    color: #3f3955;
    font-size: 18px;
    margin: 0;
    line-height: 48px;
    text-transform: capitalize;
  }

  .userPhoto {
    float: left;
    height: 48px;
    height: 48px;
    background: #78B75C;
  }
}