.userJoined {
  position: absolute;
  background: #7E76BF;
  text-align: center;
  padding: 4px;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  margin-top: 80px;
  margin-left: 850px;

  p {
    color: white;
    font-size: 1em;
    font-family: "Manjari", sans-serif;
  }

  .userPhoto {
    padding-top:3px;
    padding-left:6px;
    float: left;
  }
}