.userJoined {
  position: absolute;
  background: #fff;
  text-align: center;
  width: 155px;
  height: 35px;
  border-radius: 5px;
  top: 240px;
  left: 530px;
  border: 2px solid #3f3955;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);

  &:before {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 62px;
    border-top: 15px solid #3f3955;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  }

  p {
    color: #3f3955;
    font-size: 14px;
    margin-top: 0px;
    line-height: 35px;
    text-transform: capitalize;
  }

  .userPhoto {
    float: left;
    height: 35px;
    height: 35px;
    background: #3f3955;
  }
}