.mywebcamIssue {
  position: absolute;
  background: #fff;
  text-align: center;
  width: 240px;
  height: 48px;
  border-radius: 5px;
  bottom: 80px;
  right: 80px;
  border: 2px solid #3f3955;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);

  p {
    color: #3f3955;
    font-size: 18px;
    margin: 0;
    line-height: 48px;
    text-transform: capitalize;
  }

  .userPhoto {
    float: left;
    height: 48px;
    height: 48px;
    background: #3f3955;
  }
}